<footer class="footer-class">
    <div class="footer-content">
        <p class="footer-text">© 2024 Ingenieria en Software</p>
        
        <div class="footer-icons">
            <a href="#" class="icon-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>